@import "./__left/navigation__left.scss";
@import "./__right/navigation__right.scss";

.navigation {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
  transition: all 0.3s;
  .container{
    padding-bottom: 10px;
    padding-top: 10px;
  }
  &_scroll{
    background: #fff;
    box-shadow: $sh_bottom;
    .search {
      &:focus{
        box-shadow: none;
        border: 1px solid $gr_middle;
      }
    }
    .menu{
      top: 62px;
      box-shadow: $sh_bottom;
      .container{
        &::before{
          opacity: 0;
        }
      }
      &__drop{
        .menu_sub{
          top: 60px;
          box-shadow: $sh_nav;
          .container{
            &::before{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
