@import "./__left/navigation__left.scss";
@import "./__right/navigation__right.scss";

.navigation {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
  transition: all 0.3s;
  @include max($s){
    background-color: #fff;
    box-shadow: 10px 0px 16px rgba(0, 0, 0, 0.25);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    z-index: 99;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translateX(280px);
    opacity: 0;
    visibility: hidden;
    &.visible{
      opacity: 1;
      visibility: visible;
      transform: translateX(0px);
    }
    &>.container_f{
      flex-direction: column;
      margin-left: 0px;
      margin-right: 0;
      padding-left: 20px;
    }
  }

  &__city-ch{
    display: none;
    h5{
      display: inline-block;
      margin-right: 10px;
    }
    @include max($s){
      display: inline-block;
      padding-top: 10px;
    }
    .header__right{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
      .phone{
        order: 0;
        font-size: 14px;
        &::before{
          content: none;
        }
      }
      .ask{
        margin-left: 15px;
        font-size: 14px;
        order: 1;
      }
    }
  }

  .container{
    padding-bottom: 10px;
    padding-top: 10px;
    @include max($s){
      position: relative;
    }
  }
  &_scroll{
    background: #fff;
    box-shadow: $sh_bottom;
    .i_qd{
      opacity: 1;
      visibility: visible;
    }
    .btn-menu{
      margin-left: 45px;
      @include max($t){
        margin-left: 0;
      }
    }
    .search {
      border: 1px solid $gr_middle;
      &::placeholder{
        color: #BDBDBD;
      }
      &:focus{
        box-shadow: none;
        border: 1px solid $gr_middle;
      }
    }
    .menu{
      top: 60px;
      box-shadow: $sh_bottom;
      .container{
        &::before{
          opacity: 0;
        }
      }
      &__drop{
        .menu_sub{
          top: 60px;
          box-shadow: $sh_nav;
          .container{
            &::before{
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &__service{
    order: 4;
    display: none;
    @include max($s){
      display: flex;
      flex-direction: column;
    }
    .header__left-bonus{
      display: block;
    }
    .header__btn{
      display: block;
      position: relative;
      &::after{
        @include icon;
        content: $i_right;
        position: absolute;
        right: 10px;
        bottom: 3px;
        transition: all 0.2s;
      }
    }
    &>span, a{
      padding-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid $gr_light;
      display: block;
      font-size: 16px;
      position: relative;
      @include max($s){
        position: static;
      }
      &:hover{
        &::after{
          color: $g_middle;
        }
      }
      .i_drop{
      display: none;
      }
    }
    .header__drop{
      ul{
        li{
          &:last-child{
            display: none;
          }
        }
      }
    }
  }
  &_dn{
    display: none;
  }
}
