.product__price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: $b_middle;
  margin-right: auto;

  display: flex;
  align-items: center;
  @include max($s) {
    margin-top: 5px;

    font-size: 18px;
    flex-wrap: wrap;
  }
  &_disc {
    color: $red;
  }
  .old {
    text-decoration: line-through;
    font-size: 15px;
    color: $b_gray;
    margin-right: 8px;
    @include max($s) {
      font-size: 13px;
      width: 100%;
      order: 1;
    }
  }
  .disc_perc {
    background-color: $red;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 30px;
    margin-left: 10px;
    position: relative;
    top: -2px;
    padding: {
      top: 2px;
      bottom: 0px;
      left: 10px;
      right: 10px;
    }
    @include max($s) {
      font-size: 12px;
    }
  }

  &_text {
    font-size: 15px;
    color: #ba250d;

    @include max($s) {
      font-size: 13px;
    }
  }
}
