.cart-page{
    margin-top: 50px;
    &__wrp{
        margin-top: 60px;
        padding-bottom: 100px;
    }
    &__cart{
        padding-bottom: 100px;
    }
    &__delivery{
        h5{
            margin-left: 10px;
            &>span{
               margin-left: 5px;
               position: relative;
            }
            .city__btn.active{
                .ic{
                    transform: scale(-1);
                }
            }
        }
        padding-bottom: 100px;
        .btn_primary{
            width: 100%;
        }
        &-details{
            .items{
                margin-bottom: 20px;
            }
            .item{
                display: inline-block;
                margin-right: 20px;
                h5{
                    display: inline-block;
                    margin-left: 0;
                    margin-right: 4px;
                }
                span{
                    font-size: 14px;
                }
            }
            padding-bottom: 20px;
        }
    }

    &__data{
        &-form{
            margin-top: 40px;
            .col{
                margin-bottom: 40px;
            }
        }
    }
    &__promo{
        width: 100%;
        margin-top: 20px;
        position: relative;
        .def{
            padding-right: 140px;
        }
        button{
            position: absolute;
            right: 20px;
            top: 15px;
        }
    }
    &__result{
       box-shadow: $sh_bottom;
       padding: 20px;
       border-radius: 30px;
       display: flex;
       flex-direction: column;
       &-stick{
            position: sticky;
            position: -webkit-sticky;
            top: 90px;
       }
       ul{
           padding: 0;
           margin: 0;
           list-style: none;
            font-size: 16px;
           li{
               div{
                   display: flex;
                   justify-content: space-between;
                   margin-bottom: 10px;
                   &:first-child{
                       margin-bottom: 20px;
                       span{
                           &:last-child{
                               font-size: 18px;
                               font-weight: 600;
                           }
                       }
                   }
               }
           }
       }

       &-address{
           border-top: 1px solid $gr_middle;
           padding-top: 10px;
           font-size: 14px;
       }

       .btn{
           margin-top: 10px;
       }
    }

    .order{
        .orders{
            &-item__products{
                visibility: visible;
                max-height: initial;
                opacity: 1;
                .item{
                    padding-left: 0;
                    padding-right: 0;
                    &:last-child{
                        b{
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}