.btn{
    background-color: white;
    box-shadow: $sh_btn;
    padding: 10px 13px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    color: $b_dark;
    &_primary{
        border: 1px solid $g_middle;
    }
}
