button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  color: $b_dark;
  transition: all 0.3s;
  &:focus {
    outline: 0;
  }
}

.btn {
  background-color: white;
  box-shadow: $sh_btn;
  padding: 10px 13px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 16px;
  color: $b_dark;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
  border: 1px solid $gr_light;
  display: inline-block;

  .ic {
    &:before {
      position: relative;
      top: 1px;
    }
  }
  &:hover {
    box-shadow: $sh_no;
    transform: translateY(1px);
  }

  &_primary {
    border: 1px solid $g_middle;

    font-weight: 500;
  }

  &_dis {
    pointer-events: none;
    background: #ffffff;
    opacity: 0.4;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }

  &.close {
    opacity: 0;
    visibility: hidden;
  }

  &_yellow {
    box-shadow: $sh_no;
    border: 1px solid $g_middle;
    background: $g_gradient_btn;
    font-weight: 500;
    padding: 14px 20px;
    &:hover {
      box-shadow: none;
      transform: translateY(1px);
      opacity: 1;
      color: $b_dark;
    }

    &.deactive {
      pointer-events: none;

      &::after {
        content: ".";
        animation: loading 1s ease alternate infinite;
      }

      &:hover {
        box-shadow: none;
        transform: none;
        opacity: 1;
      }
    }

    .red {
      background-color: red;
      pointer-events: none;

      &:hover {
        box-shadow: none;
        transform: none;
        opacity: 1;
      }
    }
  }
  &_wide {
    width: 100%;
    @include max($s) {
      // margin-bottom: 5px;
      .i_right {
        display: none;
      }
    }
  }
  &_bottom {
    margin-top: auto;
  }
  .i_right {
    position: relative;
    top: 1px;
  }

  &.error {
    color: white;
    background-color: $red;
    border-color: $red;
  }
  &.success {
    color: white;
    background-color: $green;
    border-color: $green;
  }
}
@keyframes loading {
  60% {
    text-shadow: 0.35em 0 0 currentColor;
  }
  100% {
    text-shadow: 0.35em 0 0 currentColor, 0.75em 0 0 currentColor;
  }
}

.ic {
  // transition: all 0.2s;
}

.i_fav {
  position: relative;
  &::after {
    content: $i_fav-f;
    position: absolute;
    left: 0;
    opacity: 0;
    color: $red;
    transition: all 0.2s;
  }
}

.i_user {
  position: relative;
  &::after {
    content: $i_user-f;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
  }
}

.i_bag {
  position: relative;
  &::after {
    content: $i_bag-f;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.2s;
  }
}

.active {
  &.i_fav,
  &.i_user,
  &.i_bag {
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 0;
    }
  }
  .i_fav,
  .i_user,
  .i_bag {
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 0;
    }
  }
}
