button{
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.btn{
    background-color: white;
    box-shadow: $sh_btn;
    padding: 10px 13px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    color: $b_dark;
    transition: all 0.3s;
    cursor: pointer;
    &_primary{
        border: 1px solid $g_middle;
    }
    .ic{
        &:before{
            position: relative;
            top: 1px;
        }
    }
    &:hover{
        box-shadow: $sh_no;
        transform: translateY(1px);
    }
}
