.head-banner{
    background-color: #fff;
    box-shadow: $sh_main;
    border-radius: 5px;
    max-width: 1400px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    @include max(1440px){
        margin-right: 20px;
        margin-left: 20px;
    }
}