.about{
    &__head{
        border-bottom: 1px solid $gr_light;
        background-size: cover;
        background-position: right;
        margin-top: -130px;
        height: 500px;
        .container{
            height: 100%;
            padding-top: 100px;
            display: flex;
            align-items: center;
        }
        @include max($s){
            height: 400px;
        }
        @include max($s){
            height: 300px;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        position: relative;
        .i_qf{
            font-size: 300px;
            @include max($s){
                font-size: 200px;
            }
            @include max(500px){
                font-size: 100px;
            }
        }
        .logo_sq{
            
            transform: scale(3);
            margin-left: 200px;
            @include max($s){
                transform: scale(2);
                margin-left: 100px;
            }
            @include max(500px){
                transform: scale(1);
                margin-left: 30px;
            }
        }
    }
}