  .header__left {
    display: flex;
    align-items: baseline;
    a, .link {
      font-family: Excentra Pro;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      margin-right: 12px;
      opacity: 0.8;
    }
    span{
      position: relative;
    }
    &>a, .link{
      &:last-child{
        font-weight: 600;
      }
    }
    &>a{
      &:nth-last-child(2){
        &:after{
          @include icon;
          content: $i_line-v;
          margin-left: 12px;
          font-size: 20px;
          position: relative;
          top: 6px;
          opacity: 0.3;
          color: $b_dark !important;
        }
      }
    }
    .header__btn{
      &.active{
        .ic{
            transform: scale(-1);
            top: 1px;
        }
      }
    }
  }