.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    &__page{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background-color: $gr_light;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
            box-shadow: $sh_btn;
            transform: translateY(-2px);
        }
        &.active{
            background-color: $g_middle;
            color: white;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}