.sidebar {
  width: 470px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 101;
  padding: 30px;
  box-shadow: -6px 0px 16px rgba(0, 9, 77, 0.05);
  transform: translateX(500px);
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  @include max($s) {
    width: 280px;
    padding: 20px;
  }
  &__head {
    display: flex;
    margin-bottom: 50px;
    align-items: baseline;
    @include max($s) {
      margin-bottom: 30px;
    }
    .dotted {
      margin-left: auto;
    }
  }
  &__over {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  &.visible {
    transform: translateX(0px);
  }
  .btn {
    min-height: 40px;
  }
  .tumbler {
    margin-bottom: 45px;
  }
  form {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    max-height: 0px;
    transition: opacity visibility 0.2s;
    display: flex;
    flex-direction: column;
    &.visible {
      visibility: visible;
      opacity: 1;
      max-height: initial;
      transition: opacity visibility 0s;
    }
    .input-field {
      margin-bottom: 40px;
    }
    .btn {
      width: 100%;
    }
    .forgot-btn {
      margin-top: 20px;
      margin-left: auto;
    }
  }
  &-overlay {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    @include max($s) {
      z-index: 98;
      background-color: $b_dark;

      transition: all 0.2s 0s;
      // transform: translateX(-280px);
    }
    &.active {
      visibility: visible;
      opacity: 0.9;
      @include max($s) {
        opacity: 0.83;
        transition: all 0.2s 0.23s;
        // transform: translateX(0px);
      }
    }
    &.city {
      display: flex;
      &::after {
        display: none;
      }
    }
    &::after {
      @include icon;
      content: none;
      color: white;
      font-size: 21px;
      @include c();
      position: absolute;
      @include max($s) {
        content: $i_close;
      }
    }
  }
  @include max($s) {
    .product__image {
      display: none;
    }
  }
  .product__counter {
    margin-top: 4px;
    height: 34px;
  }
  .product_h {
    .product__info {
      .i_fav {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 21px;
      }
      .i_bag {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 21px;
      }
    }
  }
  &__total {
    display: flex;
    margin-bottom: 25px;
    b {
      font-weight: 500;
      font-size: 18px;
    }
    .price {
      margin-left: auto;
    }
  }
}

.one-plus-one {
  display: inline-flex;
  padding: 15px;
  padding-top: 18px;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 30px;
  transition: all 0.2s;
  margin-bottom: 5px;
  box-shadow: $sh_btn;
  align-self: flex-start;

  @include max($s) {
    font-size: 12px;
    padding-top: 15px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: left;
  }

  .disc_perc {
    background-color: $red;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 30px;
    margin-left: 15px;

    position: relative;
    top: -2px;
    padding: {
      top: 2px;
      bottom: 0px;
      left: 10px;
      right: 10px;
    }
    @include max($s) {
      font-size: 12px;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

.city-check {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 120;
}
