.help{
    &__cont{
        padding-top: 30px;
        padding-bottom: 60px;
    }
    &__desc{
        padding-right: 30px;
    }
    &__contact{
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        border-left: 1px solid $gr_light;
        position: sticky;
        position: -webkit-sticky;
        top: 80px;
        div{
            margin-bottom: 10px;
        }
        a, .link{
            font-size: 16px;
        }
        .underline{
            margin-top: 40px;
            margin-bottom: 5px;
            display: block;
        }
        @include max($s){
            margin-top: 30px;
            border-top: 1px solid $gr_light;
            border-left: 0px;
            padding-left: 0;
        }
    }
    h3{
        padding-top: 10px;
    }
}