@import "./collections-h.scss";

.collections {
  .banner {
    height: 450px;
    @include max($s) {
      height: 220px;
    }
  }

  &.sb-sm {
    .head {
      height: 660px;
      @include max($s) {
        height: 400px;
      }
      @include max($xs) {
        height: 430px;
      }
    }
  }
  .head {
    margin-bottom: 240px;
    height: 610px;
    @include max($s) {
      margin-bottom: 170px;
      height: 350px;
    }
    a {
      &:hover {
        transform: translateY(-3px);
      }
    }
    &_brand {
      margin-bottom: 0px;
      background-image: url("/image/about.png");
      @include max($m) {
        background: transparent;
      }
    }

    &_in-col {
      height: 500px;
      @include max($s) {
        height: 300px;
        margin-bottom: 110px;
      }
    }
  }

  &__desc {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid $g_middle;
    box-shadow: $sh_bottom;
    position: relative;
    top: -40px;
    font-size: 16px;
    line-height: 24px;
    padding: {
      top: 10px;
      bottom: 10px;
      left: 20px;
      right: 20px;
    }

    &_brand {
      border: none;
      top: 0px;
      margin-left: 20px;

      @include max($s) {
        margin-bottom: 20px;
      }
    }
  }
  &__list {
    padding-bottom: 40px;
    max-width: 1300px;
    .banner {
      &__desc {
        font-size: 24px;
        @include max($s) {
          font-size: 18px;
          left: 10px;
          bottom: 10px;
        }
      }
    }
    .col {
      margin-bottom: 20px;
      &:nth-child(6n + 1):nth-child(odd) {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
      }

      &:nth-child(6n + 2):nth-child(even) {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
      }

      &:nth-child(6n + 3):nth-child(odd) {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
        @include max($s) {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }

      &:nth-child(6n + 4):nth-child(even) {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
        @include max($s) {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }

      &:nth-child(6n + 5):nth-child(odd) {
        -ms-flex-preferred-size: 41.66666667%;
        flex-basis: 41.66666667%;
        max-width: 41.66666667%;
        @include max($s) {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }

      &:nth-child(6n + 6):nth-child(even) {
        -ms-flex-preferred-size: 58.33333333%;
        flex-basis: 58.33333333%;
        max-width: 58.33333333%;
        @include max($s) {
          -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
          max-width: 50%;
        }
      }

      &:last-child:nth-child(odd) {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}

.collections__head {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;

  p {
    max-width: 509px;
    text-align: center;
  }
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 27px;
    line-height: 32px;
    &::before {
      @include icon;
      display: block;
      font-size: 100px;
      line-height: 32px;
      content: $i_line-h;
      margin-right: 32px;
      color: #00094d;
      opacity: 0.3;
      transform: matrix(-1, 0, 0, 1, 0, 0);
      @include max($s) {
        font-size: 60px;
        margin-right: 20px;
      }
      @include max($xs) {
        content: none;
      }
    }
    &::after {
      @include icon;
      display: block;
      font-size: 100px;
      line-height: 32px;
      content: $i_line-h;
      margin-left: 32px;
      color: #00094d;
      opacity: 0.3;
      @include max($s) {
        font-size: 60px;
        margin-left: 20px;
      }
      @include max($xs) {
        content: none;
      }
    }
  }
}
