.collections-h{
    padding-bottom: 60px;
    .main{
        height: 366px;
        flex: 0 0 auto;
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        .small {
            
            height: 172px;
            margin-bottom: 20px;
            &:nth-child(2) {
            margin-right: 0px;
            }
        }
    }
}