.navigation {
    .search {
      background: #ffffff;

      border: 1px solid $gr_middle;
      box-sizing: border-box;
      border-radius: 25px;
      padding-left: 20px;
      padding-right: 30px;
      width: 132px;
      height: 36px;
      margin-right: 10px;

      transition: all 0.3s;
      @include max(800px){
        font-size: 16px;
      }
      @include max($s){
        width: 100%;
      }

      &::placeholder{
          opacity: 1;
      } 

      &:focus{
        box-shadow: $sh_btn;
        border: 1px solid #fff;
        width: 300px;
        @include max($s){
          width: 100%;
        }
      }
      &-pos{
        position: relative;
        order: 0;
      }
      &-wrp{
        right: 0px;
        top: 4px;
        position: absolute;
        @include max(800px){
          top: 3px;
        }
        @include max($s){
          position: relative;
          right: 0;
          top: 0;
          width: 100%;
          order: 0;
          padding-right: 20px;
        }
        .ic{
          position: absolute;
          font-size: 20px;
          right: 20px;
          top: 7px;
          @include max(800px){
            font-size: 18px;
            top: 9px;
          }
          @include max($s){
            right: 35px;
            top: 8px;
          }
        }
      }
    }

    .ic {
      margin-right: 15px;
      font-size: 20px;
      color: $b_dark;
      transition: all 0.3s;
      @include max(800px){
        font-size: 16px;
      }
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        color: $g_middle;
      }
    }
  &__buttons{
    display: flex;
    @include max($s){
      margin-top: 20px;
      order: 2;
      justify-content: stretch;
      .i_bag{
        display: none;
      }
      .ic{
        background-color: $gr_light;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-grow: 1;
        &:last-child{
          @include max($s){
            margin-right: 20px;
          }
        }
        span{
          font-size: 16px;
          padding-left: 5px;
          font-family: "Excentra Pro", 'Times New Roman', Times, serif;
        }
      }
    }
  }
}