.shops{
    .head_shop{
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        .head-map{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            overflow: hidden;
            border-radius: 5px;
            z-index: 3;
        }
    }
    .head{
        &.map{
            .head-map{
                opacity: 1;
                visibility: visible;
            }
        }
        .btn{
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 4;
        }
        &-banner{
            height: 500px;
            @include max($s){
                height: 300px;
            }
        }
    }
    .head_big-f{
        margin-bottom: 230px;
        margin-top: -220px;
        // height: 570px;
        padding-top: 230px;
    }
    &_map{
        .head-banner{
            height: 600px;
            @include max($s){
                height: 300px;
            }
        }
    }
}

.shop{
    margin-bottom: 30px;
    &__tumbler{
        position: relative;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        margin-top: 20px;
        z-index: 1;
    }
    &__wrp{
        align-items: center;
    }
    &__info{
        margin-top: 25px;
        padding-left: 25px;
        padding-right: 25px;
        border-right: 1px solid $gr_light;
        margin-bottom: 40px;
        @include max($s){
            border-right: 0px;
        }
    }
    &__div{
        height: 100%;
        width: 1px;
        background-color: $gr_light;
    }
    &__contact{
        padding-left: 20px;
        @include max($s){
            border-top: 1px solid $gr_light;
            padding-top: 20px;
        }
        a{
            font-size: 16px;
            margin-bottom: 10px;
            display: inline-block;
        }
        p{
            margin: 0;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    }
    // .col-7{
    //     position: relative;
    //     &::after{
    //         position: absolute;
    //         content: '';
    //         height: 100%;
    //         width: 1px;
    //         background-color: $gr_light;
    //         top: 0;
    //         right: -5%;
    //     }
    // }
}