.profile-p{
    &>.container{
        margin-top: 50px;
        .row{
            @include max($s){
                .col-7{
                    order: 1;
                }
                .col-4{
                    order: 0;
                }
            }
        }
    }
    &__divider{
        height: 100%;
        width: 1px;
        background-color: $gr_light;
        margin-left: auto;
        margin-right: auto;
    }
    &__card{
        border-radius: 3px;
        box-shadow: $sh_bottom;
        padding: 20px;
        margin-bottom: 40px;
        &_no-wrp{
            padding: 0;
            box-shadow: none;
        }
        &-login{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            .input-field{
                flex: 1;
                margin-right: 20px;
            }
            .checkbox{
                width: 100%;
            }
        }
    }
    &__side{
        position: -webkit-sticky;
        position: sticky;
        top: 80px;
        @include max($s){
            position: relative;
            top: 0;
        }
    }
    .small-nav{
        li{
            &:last-child{
                .small-nav__btn{
                    &:hover{
                        background: $red;
                        color: white;
                    }
                }
            }
        }
    }
}