.menu__drop{
    position: relative;
    @include max($s){
        position: static;
    }
    .menu{
        width: initial;
        border-radius: 3px;
        top: 40px;
        padding: 0;
        padding: {
            left: 20px;
            right: 20px;
        }
        .column{
            min-width: 100px;
            margin-right: 0px;
            ul{
                margin-bottom: 0;
            }
        }
        .container{
            position: relative;
            &::before{
                top: -10px;
                left: 0px;
            }
        }
    }
}