//Blue
$b_dark: #00094d;
$b_middle: #000166;
$b_light: #00007D;
$b_gray: #747498;

//Aqua
$a_darkest: #718DA7;
$a_dark: #89A5BF;
$a_middle: #ADC9E3;
$a_light: #C4DCF3;
$a_gradient: radial-gradient(242.18% 175.14% at 50% 11.86%, #C4DCF3 0%, #93BAE0 100%);

//Gold
$g_dark: #C9B164;
$g_middle: #DAB958;
$g_light: #FFD65C;
$g_gradient: linear-gradient(91.08deg, #DAB958 -140.48%, #EFD27E 99.78%);

//Gray
$gr_middle: #E3E2E3;
$gr_light: #F7F6F7;

//More
$red: #BA250D;
$green: #27AE60;