$icomoon-font-family: "icons" !default;
$icomoon-font-path: "icons" !default;

$i_queen: "\e900";
$i_of: "\e901";
$i_bohemia: "\e902";
$i_line-h: "\e903";
$i_line-v: "\e904";
$i_qr: "\e905";
$i_qf: "\e906";
$i_qd: "\e907";
$i_drop: "\e908";
$i_minus: "\e909";
$i_plus: "\e90a";
$i_search: "\e90b";
$i_more: "\e90c";
$i_close: "\e90d";
$i_menu: "\e90e";
$i_fav-f: "\e90f";
$i_fav: "\e910";
$i_user-f: "\e911";
$i_user: "\e912";
$i_bag-f: "\e913";
$i_bag: "\e914";
$i_left: "\e915";
$i_right: "\e916";
$i_fb: "\e917";
$i_inst: "\e918";
$i_filter: "\e919";
$i_check: "\e91a";
$i_gift: "\e91b";
$i_coin: "\e91c";

