$sh_btn:  0px 2px 6px rgba(5, 18, 120, 0.11);
$sh_sml:  0px 0px 1px #bfbfbf;
$sh_bottom:  0px 8px 16px rgba(0, 9, 77, 0.05);
$sh_main:  0px 2px 16px rgba(0, 0, 0, 0.07);
$sh_no:  0px 0px 0px rgba(0, 0, 0, 0);