.footer {
  background-color: $b_light;
  padding: {
    top: 60px;
    bottom: 60px;
  }
  @include max($t) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @include max($s) {
    padding-bottom: 0;
  }
  width: 100%;
  color: white;
  p {
    color: white;
  }
  a {
    color: white;
    &:hover {
      opacity: 0.7;
    }
  }
  &__logo-m {
    display: none;
    margin-bottom: 30px;
    @include max($s) {
      display: flex;
    }
    .logo_vl {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    @include max($s) {
      flex-wrap: wrap;
    }
    .social {
      list-style: none;
      margin: 0;
      .ic {
        color: white;
        font-size: 20px;
        margin-right: 15px;
      }
    }
  }
  &__column {
    .logo {
      margin-top: 10px;
      @include max(950px) {
        .i_qr {
          display: none;
        }
      }
      @include max($t) {
        transform: scale(0.8);
        left: -15px;
      }
      &_sq {
        @include max($s) {
          display: none;
        }
      }
    }
    .dotted {
      color: white;
      font-size: 16px;
      &:hover {
        opacity: 0.7;
      }
      margin-bottom: 53px;
      @include max($s) {
        margin-bottom: 10px;
      }
    }
    &:last-child {
      text-align: right;
    }
    @include max($s) {
      &:first-child {
        order: 0;
        margin-bottom: 30px;
      }
      &:last-child {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
        width: 100%;
      }
      &:nth-child(3) {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        padding-top: 15px;
        order: 3;
        width: 100%;
      }
    }
  }
  &__links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    @include max($t) {
      margin-right: 30px;
    }
    @include max($s) {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
    li {
      @include max($s) {
        margin-right: 20px;
      }
      a {
        font-size: 14px;
      }
      margin-bottom: 10px;
    }
    &:last-child {
      margin-right: 0;
    }
    &-column {
      display: flex;
      @include max($s) {
        flex-wrap: wrap;
      }
    }
  }

  &__bottom {
    margin-top: 15px;
    @include max($s) {
      background-color: $b_dark;
    }
    .container_f {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      padding-top: 15px;
      @include max($s) {
        border-top: 0px;
        display: block;
        padding-top: 15px;
      }
    }
    p {
      padding-bottom: 15px;
      font-size: 12px;
      text-align: center;
      width: 100%;
    }
    .footer__column {
      @include max($s) {
        margin-bottom: 0;
      }
      &:last-child {
        margin-left: auto;
      }
    }
  }
}
