body {
  line-height: 1.4285em;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.28571429em;
  margin: calc(2rem - 0.14286em) 0 1rem;
  font-weight: 700;
  padding: 0;
}

p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}

p:last-child {
  margin-bottom: 0;
}
