.bottom-fix {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 145px;
  bottom: 50px;

  z-index: 97;

  @include max($s) {
    right: 0px;
    bottom: 20px;
  }

  @include max($t) {
    right: 20px;

    bottom: 20px;
  }

  &.jivo-accept {
    bottom: 75px;
  }

  &.hide {
    .discond-fix {
      margin-bottom: 35px;
      @include max($s) {
        margin-bottom: 15px;
      }
    }

    .cookie-message {
      opacity: 0;
      height: 0px;
      padding: 0px;
      margin: 0px;
    }
  }

  .discond-fix {
    display: flex;
    justify-content: space-between;

    background: #ba250d;
    box-shadow: 0px 5px 18px rgba(5, 18, 120, 0.11);
    border-radius: 50px;

    bottom: 65px;
    right: 140px;
    width: 46px;
    height: 46px;
    padding: 11px;

    z-index: 3;

    transition: all 0.15s linear;
    transition: margin 0.5s linear;
    cursor: pointer;

    overflow: hidden;
    @include max($s) {
      margin-right: 50px;
      right: 50px;
      bottom: 45px;
    }

    &:hover {
      width: 166px;
      padding: 11px 20px;

      &::after {
        overflow: hidden;
        font-family: Excentra Pro;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        content: "Скидка 10%";
      }
    }
  }

  .cookie-message {
    display: flex;

    right: 145px;
    bottom: 30px;

    background: #ffffff;

    padding: 15px;

    margin: 0px 5px;
    margin-top: 10px;

    //   border: 1px solid #000;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    z-index: 100;
    transition: height 0.5s linear;
    transition: padding 0.5s linear;

    &.hide {
    }

    @include max($s) {
      right: 0px;
    }

    p {
      font-family: Excentra Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      /* identical to box height */

      text-align: right;

      /* Blue/Dark */

      color: #00094d;

      margin: 0px;

      margin-right: 15px;
    }
  }
}

.discond-fix_sidebar {
  display: flex;
  background: #ffffff;
  border-radius: 60px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
  padding: 15px;
  margin-bottom: 45px;
  justify-content: center;
  align-items: center;
  align-self: flex-start;

  img {
    width: 22px;
    height: 22px;
    padding: 11px;
    background: #ba250d;
    box-sizing: content-box;
    border-radius: 30px;
    margin-right: 14px;
  }

  p {
    font-family: Excentra Pro;

    font-size: 16px;
    @include max($s) {
      font-size: 14px;
    }
  }
}
