.banner__desc{
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: $b_dark;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    
    &::after{
        @include icon;
        content: $i_right;
        position: relative;
        display: inline-block;
        transition: all 0.2s;
        top:3px;
        margin-left: 5px;
    }
}