@import "./__column/column.scss";
@import "./__container/container.scss";
@import "./__drop/menu__drop.scss";

.menu {
  position: absolute;
  z-index: 99;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: $sh_nav;
  padding: {
    top: 30px;
    bottom: 30px;
  }

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s;

  &.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }

  &_collection {
    .container {
      position: relative;
      &::before {
        left: 152px;
      }
    }
  }

  &_gift {
    .container {
      position: relative;
      &::before {
        left: 452px;
        @include max($t) {
          left: 400px;
        }
      }
    }
  }

  &.ui {
    padding: 0;
    opacity: 1;
    position: fixed;
    top: 150px;
    width: initial;
    left: auto;
    right: 20px;
    visibility: visible;
  }

  &_mega {
    max-height: 85vh;
    overflow: auto;

    .menu__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      position: relative;
      &::after {
        @include icon;
        content: $i_right;
        font-size: 16px;
        position: absolute;
        right: -10px;
        transform: translateX(100%);
      }
    }

    .column {
      ul {
        margin-top: 14px;
        padding-top: 10px;
        border-top: 2px solid #f7f6f7;
        @include max($s) {
          border-top: none;
        }
      }

      .colors-in-menu {
        h5 {
          font-weight: 600;
          font-size: 16px;
          line-height: 16px;
          color: #00094d;
        }
      }
    }
  }
  .btn_prev {
    display: none;
  }
  @include max($s) {
    height: 120vh;
    max-height: 120vh;
    box-shadow: none;
    top: 0 !important;
    left: 0px !important;
    width: 280px !important;
    padding: 0 !important;
    padding-top: 20px !important;
    transform: translateX(280px);
    overflow-x: hidden;
    &.visible {
      transform: translateX(0px);
    }
    .container {
      .btn_prev {
        display: inline-block;
        margin-bottom: 30px;
      }
      flex-direction: column;
      margin-right: 0px;
      margin-left: 0px;
      padding-left: 20px;
      padding-bottom: 100px;
      .column {
        margin-right: 0;
        ul {
          li {
            a {
              border-bottom: 1px solid $gr_light;
              padding-bottom: 10px;
              padding-top: 30px;
              &:hover {
                transform: translateX(0px);
                border-bottom: 1px solid $g_middle;
              }
            }
          }
        }
      }
    }
  }
}
