@import "./__column/column.scss";
@import "./__container/container.scss";
@import "./__drop/menu__drop.scss";


.menu{
    position: absolute;
    z-index: 99;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: $sh_nav;
    padding: {
        top: 30px;
        bottom: 30px;
    };

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s;

    &.visible{
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
    }


    &_collection{
        .container{
        position: relative;
            &::before{
                left: 152px;
            }
        }
    }

    &_gift{
        .container{
        position: relative;
            &::before{
                left: 452px;
            }
        }
    }


    &.ui{
        padding: 0;
        opacity: 1;
        position: fixed;
        top: 150px;
        width: initial;
        left: auto;
        right: 20px;
        visibility: visible;
    }

    &_mega{
        max-height: 85vh;
        overflow: auto;
    }
}