//
// @import "./ulits/semantic-ui-css/semantic.min.css";
// @import "./ulits/swiper.css";

// @import "./ulits/norm.css";

//SETTINGS
@import "./vars/size.scss";
@import "./vars/colors.scss";
@import "./vars/shadows.scss";
@import "./vars/icons.scss";
@import "./vars/mix.scss";
@import "./fonts/font.scss";
@import "./fonts/icons.scss";
@import "./fonts/typo.scss";
@import "./blocks/input/input.scss";
@import "./blocks/grid/grid.scss";

//ELEMENTS
@import "./blocks/logo/logo.scss";
@import "./blocks/button/button.scss";
@import "./blocks/tumbler/tumbler.scss";
@import "./blocks/header/header.scss";
@import "./blocks/navigation/navigation.scss";
@import "./blocks/small-nav/small-nav.scss";
@import "./blocks/menu/menu.scss";
@import "./blocks/head/head.scss";
@import "./blocks/product/product.scss";
@import "./blocks/orders/orders.scss";
@import "./blocks/drop/drop.scss";
@import "./blocks/swiper/swiper.scss";
@import "./blocks/banner/banner.scss";
@import "./blocks/sidebar/sidebar.scss";
@import "./blocks/user/user.scss";
@import "./blocks/cart/cart.scss";
@import "./blocks/pagination/pagination.scss";
@import "./blocks/dropdown/dropdown.scss";
@import "./blocks/tooltip/tooltip.scss";
@import "./blocks/footer/footer.scss";
@import "./blocks/gift/gift.scss";
@import "./blocks/dev-login/dev-login.scss";
@import "./blocks/loader-page/loader-page.scss";
@import "./blocks/bottom-fix/bottom-fix.scss";
@import "./blocks/alert-message/alert-message.scss";
@import "./blocks/popover/popover.scss";
@import "./blocks/pvz/pvz.scss";
@import "./blocks/black-friday/black-friday.scss";
@import "./blocks/cyber-monday/cyber-monday.scss";

//HOME ELEMENTS
@import "./blocks/carousel/carousel.scss";
@import "./blocks/main-screen/main-screen.scss";
@import "./blocks/filters-block/filters-block.scss";
@import "./blocks/product-container/product-container.scss";
@import "./blocks/collections/collections.scss";
@import "./blocks/actions/actions.scss";
@import "./blocks/subscribe/subscribe.scss";

//PAGES
@import "./blocks/cart-page/cart-page.scss";
@import "./blocks/profile/profile.scss";
@import "./blocks/shops/shops.scss";
@import "./blocks/help/help.scss";
@import "./blocks/about/about.scss";

//LAZY-LOAD
// @import "./ulits/blur.css";

body {
  margin: 0;
  font-family: "Excentra Pro", "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $b_dark;
  &.no-scroll {
    overflow-y: hidden;
  }
}

#root {
  &.black-friday {
    background-color: #00010d;
    .head {
      background: linear-gradient(90.22deg, #dab958 -140.48%, #efd27e 99.78%);
    }
    .header {
      border-color: rgba(0, 9, 77, 0.1);
    }
    .search-wrp {
      input {
        border-color: #000166;
        color: #00094d;
        &::placeholder {
          color: #00094d;
        }
      }
    }
    .cart {
      background: linear-gradient(90.09deg, #fadf90 0.08%, #efd27e 99.9%);
    }
    .container {
      .title {
        color: #fff;
        h2 {
          color: #fff;
        }
        button {
          margin-top: 0px;
          padding: 5px 12px;
          margin-left: 25px;
        }
        .subtitle {
          color: #fff;
        }
      }
    }

    .subscribe {
      // background: linear-gradient(90.22deg, #dab958 -140.48%, #efd27e 99.78%);
    }

    .footer {
      background-color: #000215;
      .footer__bottom {
        background-color: #000215;
      }
    }
    .product {
      .product__name {
        color: #fff;
      }
    }
    .product__price {
      color: #fff;
    }

    .sidebar {
      .product {
        .product__name {
          color: #00094d;
        }
      }
      .product__price {
        color: #00094d;
        &.product__price_disc {
          color: #ba250d;
        }
      }
    }
  }
}

#jvlabelWrap {
  right: 135px !important;
}
#jcont {
  right: 135px !important;
}
.globalClass_84ca {
  .button_3155 {
    width: 40px;
    height: 40px;

    .logoIconCloud_362b {
      background-size: contain;
      width: 29px;
      height: 25px;
    }
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.slider-cont {
  width: 100%;
  &.slider-cont_brand {
    height: 150px;
  }
}

.vis-s {
  display: none;
  @include max($s) {
    display: inline-block;
  }
}

.hide-s {
  @include max($s) {
    display: none;
  }
}

.catalog {
  margin-top: 30px;
  position: relative;
}

.line {
  width: 100vw;
  height: 2px;
  background: #f7f6f7;
  margin-bottom: 30px;
}

.slider-brand {
  height: 95px;
  margin-right: 20px;
  display: inline-block;
  width: initial;
  img {
    height: 100%;
  }
  &:hover {
    transform: translateY(-3px);
  }
}

.main-page {
  width: 100%;
  flex: 1;
}
.main-screen {
  flex: 1;
}

.slick-slider {
  .slick-dots {
    width: auto;
    right: 0px;

    li {
      button {
        &:before {
          width: 10px;
          height: 10px;
          border: 2px solid #e0e0e0;
          box-sizing: border-box;
          border-radius: 50%;
          content: "";
        }
      }

      &.slick-active {
        button {
          &:before {
            width: 10px;
            height: 10px;
            background: #dab958;
            border: 0px;
            border-radius: 50%;
            content: "";
          }
        }
      }
    }
  }
}

.main-background {
  background: #fcfbfc;
  padding: {
    top: 30px;
    bottom: 50px;
  }
  border-bottom: 2px solid $gr_light;
}

.ideas-block {
  display: flex;
  margin-bottom: 60px;
}

.main-idea {
  height: 460px;
  @include max($t) {
    margin-bottom: 20px;
  }
  @include max($s) {
    height: 220px;
  }
}

.ideas {
  display: flex;
  flex-wrap: wrap;

  .small {
    height: 220px;
    margin-bottom: 20px;
    &:nth-child(2) {
      margin-right: 0px;
    }
  }

  .large {
    height: 220px;
  }
}

.gifts {
  display: block;
  margin-right: 0px;
  &.gifts_price {
    .swiper-container {
      padding-top: 0px;
      .swiper-button-next {
        top: 40%;
      }
      .swiper-button-prev {
        top: 40%;
      }
    }
  }
  &_mob {
    margin-top: 20px;
  }
  .swiper-container {
    padding-top: 65px;
    padding-bottom: 30px;

    .swiper-pagination {
      bottom: -5px;
    }
    .swiper-button-next {
      top: 60%;
    }
    .swiper-button-prev {
      top: 60%;
    }
    // @include max($t) {
    //   padding-top: 15px;
    // }
    // @include max($s) {
    //   padding-top: 5px;
    // }
  }
  .banner {
    position: relative;
    height: 221.55px;

    border-radius: 3px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    // @include max(500px) {
    //   height: 170px;
    // }
    margin-right: auto;
    margin-left: auto;
    &:last-child {
      margin-right: 0px;
    }

    &.banner_overlay {
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
        border-radius: 5px;
      }
      .banner__desc {
        color: #fff;
        z-index: 1;
      }
    }
  }
}

.banner_cats {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  // @include max(500px) {
  //   height: 170px;
  // }
  margin-right: auto;
  margin-left: auto;

  .cat-elem {
    display: inline-block;
    align-self: flex-start;
    flex-direction: column;
    padding: 6px;
    background-color: #f7f6f7;
    border-radius: 5px;
    margin-bottom: 12px;

    font-family: Excentra Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      background-color: #fadf90;
      color: #00094d;
    }
  }
}

#root {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh + 350px);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 829px;
}

.card__p-a {
  display: flex;

  justify-content: space-between;
}

.card__avaliable {
  display: flex;

  justify-content: space-between;
}

.card__count {
  display: flex;
  justify-content: space-between;
}

.i_bag {
  position: relative;
  &__counter {
    position: absolute;
    font-size: 13px;
    font-weight: 600;
    top: -2px;
    background: #00094d;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    color: #fff;
    right: -5px;
    // @include max($s) {
    //   font-family: Excentra Pro;
    //   font-style: normal;
    //   font-weight: bold;
    //   font-size: 13px;
    //   line-height: 13px;
    //   /* identical to box height */

    //   display: flex;
    //   align-items: center;
    //   text-align: center;

    //   color: #000166;

    //   height: auto;
    //   width: auto;

    //   background: none;

    //   right: -5px;
    // }
  }
}

.mla {
  margin-left: auto;
}

.field-error {
  position: absolute;
  font-size: 12px;
  bottom: -20px;
  right: 0;
  color: $red;
}

.breadcrumbs {
  margin-top: 10px;
  a {
    color: $a_dark;
    font-weight: 500;
    &:hover {
      opacity: 0.7;
    }
    &.active {
      color: $b_dark;
    }
    &::after {
      content: "»";
      margin-left: 5px;
      margin-right: 5px;
      opacity: 1;
    }
    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}

.card-view-container {
  .breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
}

.videoQB.video-js {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #fff;
  .vjs-poster {
    background-color: #fff;
  }
  .vjs-tech {
    position: static;
    height: 100%;
    width: auto;
    // margin-top: auto;
    // margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .vjs-big-play-button {
    border: none;
    background-color: #efd27e;
    width: 67px;
    height: 67px;
    margin-top: -33.5px;
    margin-left: -33.5px;
    border-radius: 50px;
    line-height: normal;

    .vjs-icon-placeholder {
      &:before {
        @include icon;
        content: $i_play;
        position: static;
        color: #00094d;
        font-size: 35x;
        line-height: 1.5;
      }
    }
  }

  &:hover {
    .vjs-big-play-button {
      background-color: #efd27e;
    }
  }

  .vjs-control-bar {
    background-color: transparent;
    bottom: 5px;
    .PiPifierButton {
      display: none;
    }
    .vjs-progress-control {
      background-color: #fff;
      border-radius: 20px;
      height: 12px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 16px;

      .vjs-play-progress {
        background-color: #dab958;
      }
      .vjs-load-progress {
        div {
          background-color: #f7f6f7;
        }
      }
    }
    .vjs-playback-rate {
      display: none;
    }

    .vjs-play-control {
      background-color: #fff;
      height: 25px;
      width: 25px;
      border-radius: 50px;
      margin-left: 15px;
      margin-right: 11px;
      margin-top: auto;
      margin-bottom: auto;
      color: #dab958;
      &.vjs-ended {
        .vjs-icon-placeholder:before {
          content: "\F116";
        }
      }
      &.vjs-paused {
        .vjs-icon-placeholder::before {
          @include icon;
          content: $i_play;
          line-height: 1.43em;
        }
      }
      .vjs-icon-placeholder:before {
        @include icon;
        content: $i_pause;
        line-height: 1.43em;
      }
    }
  }
}

.search-not-found {
  .search-not-found__call {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    padding: 10px;

    background: #ffffff;
    /* bottom */

    box-shadow: 0px 4px 16px rgba(0, 9, 77, 0.05);
    border-radius: 3px;

    margin-bottom: 30px;
  }
}

#map {
  height: 416px;
  width: 100%;
  transition: all 0.3s linear;
  filter: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.07));
  border-radius: 10px;
  overflow: hidden;

  .msg {
    display: none;
  }

  &.choose {
    height: 218px;
    margin-bottom: 20px;
  }

  &.loading {
    display: flex;
    justify-content: center;
    .msg {
      display: inline;
      &::after {
        content: ".";
        animation: loading 1s ease alternate infinite;
      }
    }
  }

  @keyframes loading {
    60% {
      text-shadow: 0.35em 0 0 currentColor;
    }
    100% {
      text-shadow: 0.35em 0 0 currentColor, 0.75em 0 0 currentColor;
    }
  }
}

.banner-service {
  background-image: url("/image/serv.jpg");

  height: 200px;
  width: 100%;
  margin-bottom: 30px;
}

// #ymarket-affiliate #a .ReactModalPortal ._2it2MNL {
//   display: none !important;
// }

.ny-warning {
  width: 100vw;
  height: 38px;
  background-color: #fff2ca;
  z-index: 5;
  padding: 11px 0px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ffd65c;

  a {
    font-size: 16px;
    position: relative;
    text-align: top;
    vertical-align: text-top;

    &::before {
      content: "!";
      font-weight: bold;

      position: absolute;

      left: -11px;
      font-size: 16px;
    }

    &:hover {
      .i_drop {
        top: 2px;
      }
    }

    .i_drop {
      position: relative;
      right: -5px;
      transform: rotate(-90deg);
      font-size: 14px;
    }
  }
}

.inp-bonus-err {
  border-bottom: 1px solid #ba250d !important;

  &::placeholder {
    color: #ba250d;
  }
}

.colors-in-menu {
  overflow: hidden;

  .swiper-container {
    // padding-top: 37px;
    // padding-bottom: 37px;
    margin-top: 6px;

    display: flex;
    flex-direction: column;

    .swiper-wrapper {
      order: 1;
      height: 210px;

      .swiper-slide {
        a {
          white-space: nowrap;
          font-size: 16px;
        }
      }
    }

    .swiper-button-color-prev {
      order: 0;
      position: relative;
      width: 100%;
      top: 0px;
      height: 23px;
      display: flex;

      transition: all 0.2s;
      background: #f7f6f7;
      border-radius: 3px;
      z-index: 99;
      cursor: pointer;
      margin-bottom: 13px;

      &:hover {
        color: $g_middle;
      }

      &:before {
        content: $i_drop;
        display: flex;
        margin: auto;

        font-family: "icons" !important;

        font-style: normal;
        font-weight: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 17px;
        z-index: 1;
        transform: rotate(-180deg);
      }
    }

    .swiper-button-color-next {
      position: relative;
      order: 2;
      width: 100%;
      bottom: 0px;
      height: 23px;
      display: flex;

      transition: all 0.2s;
      background: #f7f6f7;
      border-radius: 3px;
      z-index: 99;
      cursor: pointer;

      &:hover {
        color: $g_middle;
      }

      &:before {
        content: $i_drop;
        display: flex;
        margin: auto;

        font-family: "icons" !important;

        font-style: normal;
        font-weight: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 17px;
        z-index: 1;
      }
    }

    .swiper-button-disabled {
      opacity: 0.5;
      height: 0px;
      visibility: hidden;
      cursor: auto;
    }
  }
}
