//
// @import "./ulits/semantic-ui-css/semantic.min.css";
// @import "./ulits/swiper.css";

//SETTINGS
@import "./vars/size.scss";
@import "./vars/colors.scss";
@import "./vars/shadows.scss";
@import "./vars/icons.scss";
@import "./vars/mix.scss";
@import "./fonts/font.scss";
@import "./fonts/icons.scss";
@import "./fonts/typo.scss";
@import "./blocks/input/input.scss";
@import "./blocks/grid/grid.scss";

//ELEMENTS
@import "./blocks/logo/logo.scss";
@import "./blocks/button/button.scss";
@import "./blocks/tumbler/tumbler.scss";
@import "./blocks/header/header.scss";
@import "./blocks/navigation/navigation.scss";
@import "./blocks/small-nav/small-nav.scss";
@import "./blocks/menu/menu.scss";
@import "./blocks/head/head.scss";
@import "./blocks/product/product.scss";
@import "./blocks/orders/orders.scss";
@import "./blocks/drop/drop.scss";
@import "./blocks/swiper/swiper.scss";
@import "./blocks/banner/banner.scss";
@import "./blocks/sidebar/sidebar.scss";
@import "./blocks/user/user.scss";
@import "./blocks/cart/cart.scss";
@import "./blocks/pagination/pagination.scss";
@import "./blocks/dropdown/dropdown.scss";
@import "./blocks/tooltip/tooltip.scss";
@import "./blocks/footer/footer.scss";

//HOME ELEMENTS
@import "./blocks/carousel/carousel.scss";
@import "./blocks/main-screen/main-screen.scss";
@import "./blocks/filters-block/filters-block.scss";
@import "./blocks/product-container/product-container.scss";
@import "./blocks/collections/collections.scss";
@import "./blocks/actions/actions.scss";
@import "./blocks/subscribe/subscribe.scss";

//PAGES
@import "./blocks/cart-page/cart-page.scss";
@import "./blocks/profile/profile.scss";
@import "./blocks/shops/shops.scss";
@import "./blocks/help/help.scss";
@import "./blocks/about/about.scss";

//LAZY-LOAD
// @import "./ulits/blur.css";

body {
  margin: 0;
  font-family: "Excentra Pro", "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $b_dark;
  &.no-scroll {
    overflow-y: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slider-cont {
  width: 100%;
  &.slider-cont_brand {
    height: 150px;
  }
}

.vis-s {
  display: none;
  @include max($s) {
    display: inline-block;
  }
}

.hide-s {
  @include max($s) {
    display: none;
  }
}

.catalog {
  margin-top: 30px;
  position: relative;
}

.line {
  width: 100vw;
  height: 2px;
  background: #f7f6f7;
  margin-bottom: 30px;
}

.slider-brand {
  height: 95px;
  margin-right: 20px;
  display: inline-block;
  width: initial;
  img {
    height: 100%;
  }
}

.main-page {
  width: 100%;
  flex: 1;
}
.main-screen {
  flex: 1;
}

.slick-slider {
  .slick-dots {
    width: auto;
    right: 0px;

    li {
      button {
        &:before {
          width: 10px;
          height: 10px;
          border: 2px solid #e0e0e0;
          box-sizing: border-box;
          border-radius: 50%;
          content: "";
        }
      }

      &.slick-active {
        button {
          &:before {
            width: 10px;
            height: 10px;
            background: #dab958;
            border: 0px;
            border-radius: 50%;
            content: "";
          }
        }
      }
    }
  }
}

.main-background {
  background: #fcfbfc;
  padding: {
    top: 30px;
    bottom: 50px;
  }
  border-bottom: 2px solid $gr_light;
}

.ideas-block {
  display: flex;
  margin-bottom: 60px;
}

.main-idea {
  height: 460px;
  @include max($t) {
    margin-bottom: 20px;
  }
  @include max($s) {
    height: 220px;
  }
}

.ideas {
  display: flex;
  flex-wrap: wrap;

  .small {
    height: 220px;
    margin-bottom: 20px;
    &:nth-child(2) {
      margin-right: 0px;
    }
  }

  .large {
    height: 220px;
  }
}

.gifts {
  display: block;
  .swiper-container {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .banner {
    position: relative;
    height: 221px;
    border-radius: 3px;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    @include max(500px) {
      height: 170px;
    }
    &:nth-child(3) {
      margin-right: 0px;
    }
  }
}

#root {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh + 350px);
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 829px;
}

.card__p-a {
  display: flex;

  justify-content: space-between;
}

.card__avaliable {
  display: flex;

  justify-content: space-between;
}

.card__count {
  display: flex;
  justify-content: space-between;
}

.i_bag {
  position: relative;
  &__counter {
    position: absolute;
    font-size: 11px;
    font-weight: 600;
    @include c(x);
    top: 16px;
    @include max($s) {
      top: 7px;
    }
  }
}

.mla {
  margin-left: auto;
}

.field-error{
  position: absolute;
  font-size: 12px;
  bottom: -20px;
  right: 0;
  color: $red;
}

.breadcrumbs{
  a{
    color: $a_dark;
    font-weight: 500;
    &:hover{
      opacity: 0.7;
    }
    &.active{
      color: $b_dark;
    }
    &::after{
      content: "»";
      margin-left: 5px;
      margin-right: 5px;
      opacity: 1;
    }
    &:last-child{
      &::after{
        content: none;
      }
    }
  }
}