.filters-block {
  display: flex;
  flex-direction: column;
  width: 263px;
  margin-right: 20px;

  .main-filers-block {
    margin-bottom: 20px;
    &.price {
      div {
        display: flex;
        align-items: center;

        p {
          font-family: Excentra Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 13px;
          margin-top: auto;
          margin-bottom: auto;
          /* identical to box height, or 93% */

          /* Blue/Dark */

          color: #00094d;
        }

        input {
          font-family: Excentra Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 13px;
          /* identical to box height, or 93% */

          /* Blue/Dark */

          color: #00094d;

          width: 60px;
          height: 20px;
          padding: 5px;
          border: 0px;
          border-bottom: 1px solid #e3e2e3;
          box-sizing: border-box;

          &:first-child {
            margin-left: 7px;
            margin-right: 15px;
          }

          &:last-child {
            margin-left: 7px;
          }
        }

        button {
          width: 40px;
        }
      }
    }
  }

  .filter-title {
    font-family: Excentra Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;

    display: flex;
    align-items: flex-end;

    margin-bottom: 15px;

    color: #89a5bf;
  }

  .filter__name {
    font-family: Excentra Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height */

    /* Blue/Dark */

    color: #00094d;
  }

  .filter__container {
    padding-left: 15px;
    max-height: 0px;
    overflow: hidden;

    transition: max-height 0.5s linear, margin-bottom 0.2s linear;

    &.active {
      max-height: 1000px;
      margin-bottom: 15px;
    }

    .filter__point {
      font-family: Excentra Pro;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 15px;

      color: #00094d;

      &.active {
        font-weight: bold;
      }
    }
  }
}
