.filters-block {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  margin-right: 20px;
  border-right: 1px solid $gr_light;
  padding-top: 15px;
  padding-bottom: 15px;

  .filter-block{
    position: relative;
  }
  .main-filers-block {
    margin-bottom: 20px;
    &.price {
      div {
        display: flex;
        align-items: center;

        p {
          font-family: Excentra Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 13px;
          margin-top: auto;
          margin-bottom: auto;
          /* identical to box height, or 93% */

          /* Blue/Dark */

          color: #00094d;
        }

        input {
          font-family: Excentra Pro;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 13px;
          /* identical to box height, or 93% */

          /* Blue/Dark */

          color: #00094d;

          width: 60px;
          height: 20px;
          padding: 5px;
          border: 0px;
          border-bottom: 1px solid #e3e2e3;
          box-sizing: border-box;

          &:first-child {
            margin-left: 7px;
            margin-right: 15px;
          }

          &:last-child {
            margin-left: 7px;
          }
        }

        button {
          width: 40px;
        }
      }
    }
  }

  .filter__name {
    cursor: pointer;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    margin-bottom: 0;
    /* identical to box height */

    /* Blue/Dark */

    color: $b_dark;
    transition: all 0.2s;
    .ic{
      position: absolute;
      right: 0;
      top: 0;
      color: $a_middle;
      // transition: initial;
    }
    &:hover{
      color: $g_middle;
      .ic{
        color: $g_middle;
        transform: translateY(2px);
      }
    }
    &.active{
      color: $g_middle;
      .ic{
        color: $g_middle;
        transform: scale(-1);
      }
    }
  }

  .filter__container {
    max-height: 0;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 13px;
    margin-bottom: 5px;
    transition: max-height 0.1s, opacity 0.3s, visibility 0.3s;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    &::before{
      content: '';
      width: 100%;
      height: 15px;
      background: linear-gradient( #fff, rgba(255, 255, 255, 0));
      position: absolute;
      left: 0;
      top: 15px;
    }
    &::after{
      content: '';
      width: 100%;
      height: 30px;
      background: linear-gradient( rgba(255, 255, 255, 0), #fff);
      position: absolute;
      left: 0;
      bottom: 0px;
    }
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    &.active {
      max-height: 200px;
      opacity: 1;
      visibility: visible;
      overflow-y: auto;

      // margin-bottom: 15px;
    }

    .filter__point {
      font-size: 13px;
      height: 25px;
      display: inline-block;    
      align-items: center;
      padding: 0px 10px;
      padding-top: 2px;
      margin-right: 5px;
      margin-bottom: 10px;
      border: 1px solid $a_middle;
      background-color: #fff;
      color: $b_dark;
      border-radius: 25px;
      cursor: pointer;
      transition: all 0.2s;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover{
        box-shadow: $sh_btn;
      }
      &.active {
        color: white;
        border: 1px solid $b_light;
        background-color: $b_light;
      }
      &:last-child{
        margin-bottom: 25px;
      }
    }
  }
}


.sidebar__inner{

}

.categories-block{
  padding-right: 30px;
  margin-right: 20px;
  padding-bottom: 40px;
  border-right: 1px solid $gr_light;
  &::after{
    content: '';
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color: $gr_light;
    display: block;
    margin-top: 30px;
  }
  ul{
    list-style: none;
    padding: 0;margin: 0;
    h5{
      font-weight: normal;
      font-size: 15px;
      color: $b_dark;
      margin-bottom: 5px;
      cursor: pointer;
    }
    ul{
      padding-left: 10px;
      li{
        padding-bottom: 10px;
        cursor: pointer;
      }
    }
  }
}
