.product__image {
  position: relative;
  margin-bottom: 13px;
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  width: 100%;
  &-wrp{
    position: relative;
    padding: 50% 10px;
    overflow: hidden;
    .lazy-load-image-background{
      position: absolute;
      top: 0;
      left: 0px;
      width: calc(100% + 1px);
    }
  }
  img {
    width: 100%;
  }
}
