.product__image {
  position: relative;
  margin-bottom: 13px;
  width: 100%;
  &-wrp{
    position: relative;
    padding: 50% 10px;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #f2f2f2;
    .lazy-load-image-background{
      position: absolute;
      top: 0;
      left: -1px;
      width: calc(100% + 3px);
    }
  }
  img {
    width: 100%;
  }
}
