@import "./__left/header__left.scss";
@import "./__right/header__right.scss";
@import "./__drop/header__drop.scss";


.header {
  width: 100%;
  z-index: 99;
  padding: {
    top: 18px;
    bottom: 10px;
  };
  transition: all 0.3s;
  @include max($t){
    padding-top: 10px;
    z-index: 98;
  }
  .header__left{
      @include max($s){
        display: none;
      }
  }
  .container{
    align-items: center;
  }

  .logo {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    @include max(950px){
      transform: scale(0.8);
      .i_qd{
        display: none;
      }
    }
  }

  &_scroll{
    background-color: #fff;
  }

  .i_menu{
      display: none;
      @include max($s){
        display: inline-block;
      }
      font-size: 15px;
      margin-left: 5px;
      &:hover{
        color: $g_middle;
      }
  }
  .i_bag{
     display: none;
    @include max($s){
      display: inline-block;
    }
    font-size: 21px;
    margin-right: 5px;
    &:hover{
      color: $g_middle;
    }
  }
}