.product__name {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  height: 40px;
  margin: 0px 5px;
  width: 100%;
  overflow: hidden;
  color: $b_dark;
  @include max($s) {
    font-size: 14px;
    height: 33px;
    margin-bottom: 4px;
  }
}
