@import "./__brand/product__brand.scss";
@import "./__image/product__image.scss";
@import "./__name/product__name.scss";
@import "./__price/product__price.scss";
@import "./__attr/product__attr.scss";
@import "./__action/product__action.scss";
@import "./__counter/product__counter.scss";

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  transition: all 0.3s;
  &:nth-child(3n) {
    margin-right: 0px;
  }
  &__action{
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s;
  }
  &__image{
    transition: all 0.3s;
  }
  &:hover{
    cursor: pointer;
    .product{
      &__action{
        visibility: visible;
        opacity: 1;
        bottom: 10px;
        transform: translateY(0px);
      }
      &__name{
        color: $b_light;
        text-decoration: underline;
      }
      &__image{
        box-shadow: $sh_bottom;
        transform: translateY(-2px);
      }
    }
  }
  &_h{
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    &:hover{
      cursor: initial;
      .product{
        &__name{
          color: $b_dark;
          text-decoration: none;
        }
        &__image{
          box-shadow: $sh_no;
          transform: translateY(0px);
        }
      }
    }
    .product{
      &__image{
        width: 110px;
        margin-right: 15px;
        margin-bottom: 0;
      }
      &__name{
        height: initial;
        margin: 0;
        transition: all 0.3s;
        margin-right: 20px;
        &:hover{
          color: $b_light;
          text-decoration: underline;
          cursor: pointer;
        }
      }
      &__info{
        width: 100%;
        position: relative;
        .i_close{
          position: absolute;
          right: 0;
          top: 0;
          font-size: 20px;
          &:hover{
            color: $red;
          }
        }
      }
      &__counter{
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
@import "./product-p.scss";
